/*SECCION QUIENES SOMOS*/
.main-container-somos{
    margin: 1rem 4rem 1rem 4rem;
}

.subtitulo{
    color:var(--color-celeste);
    text-align:center;
    font-size: 1,5rem;
    border: 2px solid var(--color-celeste);
    border-radius:40px;
    padding:1rem;
    margin-top:3rem;
}